{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Filter</title>
    <link rel="stylesheet" href="{% static 'FirstApp/css/style.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <main>
        <h1> Movie ticket</h1>

        <form method="GET" action="{% url 'movie-list' %}" 
              hx-get="{% url 'movie-list' %}"
              hx-target="#result-area"
              hx-swap="innerHTML"
              class="mb-4">

            <label for="movie">Movie:</label>
            <select name="movie" id="movie">
                <option value="">-- Select a movie--</option>

                {% for movie in movies %}
                    <option value="{{ movie.movie_id }}">{{ movie.title }}</option>
                {% endfor %}
                
            </select>

            <label for="date">Date:</label>
            <input type="date" name="date" id="date">

            <button type="submit">Decide</button>
        </form>
        
        <div id="result-area">
            {% if selected_movie %}
                <h3>Selected Movie Results:</h3>
                <p>Movie Title: {{ selected_movie.title }}</p>
                <p>Duration: {{ selected_movie.duration }} minutes</p>
                <p>Date: {{ selected_date }}</p>
            {% endif %}
        </div>
    </main>
</body>
</html>